/*.suo
/*.user
Thumbs.db
/*.docstates
/*.shfbproj_*
/*.dotCover
/_ReSharper*
/packages
/.vs
/PdfiumViewer.Test/.vs
/PdfiumViewer.WPFDemo/.vs
/PdfiumViewer/.vs
/PdfiumViewer.Demo/.vs
/MigrationBackup/c70e8c7e/PdfiumViewer.Test
